@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}



html {
    height: 100%;
}

body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #FFFFFF;
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.page-header {
    padding: 0 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;

}

.navigation-wrapper {
    display: flex;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    position: relative;
}

.navigation-user {
    align-items: center;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus-visible {
    color: rgba(0, 0, 0, 0.5);
}

.navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-icon {
    display: block;
    fill: #000000;
}

.navigation-link:hover .navigation-icon,
.navigation-link:focus-visible .navigation-icon {
    fill: rgba(0, 0, 0, 0.5);
}

.navigation-link:active .navigation-icon {
    fill: rgba(0, 0, 0, 0.3);
}

.navigation-link-current::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 16px;
    right: 16px;
    height: 2px;
    background-color: #756257;
}

.navigation-user .navigation-link {
    min-height: 20px;
    min-width: 20px;
    padding: 22px 12px;
}

.navigation-favorite {
    position: relative;
}

.navigation-logo {
    position: relative;
    z-index: 1;
    width: 140px;
    margin-right: 28px;
}

.page-header-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.notification-badge {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-header {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding: 8px 34px;
    border-radius: 4px;
}

.button-header:hover,
.button-header:focus-visible {
    background-color: #615048;
}

.button-header:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.navigation-item-button {
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}


.main-container {
    flex-grow: 1;
}

.page-container {
    margin: 0 auto;
}

.hero {
    padding: 51px 0 82px 0;
    color: #FFFFFF;
    background-color: rgba(131, 179, 211, 0.7);
    background-image: url("../images/background-vector.svg"), url("../images/index-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
}

.hero-img {
    display: block;
    margin: 0 auto;
}

.advantages-introduction {
    padding-top: 69px;
    padding-bottom: 69px;
    margin-bottom: 21px;
}

.advantages-subhead {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.advantages-lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.3333%;
    min-height: 385px;
    overflow-wrap: break-word;
}

.advantages-item-wide {
    color: #FFFFFF;
    background-color: #82B3D3;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 385px;
}

.advantages-wrap {
    padding: 112.5px 85px;
}

.advantages-item-wide .advantages-wrap {
    padding: 102px 85px;
}

.advantages-img {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.advantages-title {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 62px;
}

.advantages-title::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 85px;
    width: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 86px;
}

.advantages-title-wide::after {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-description {
    margin: 0;
    overflow-wrap: break-word;
}

.advantages-item-color {
    background-color: #83B3D333;
}

.services-introduction {
    padding-top: 64px;
    padding-bottom: 64px;
}

.services-lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.services-subhead {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-wrap {
    padding: 81px 85px;
}

.services-item {
    background-color: #83B3D31F;
    text-align: center;
    width: 33.3333%;
    min-height: 385px;
}

.services-item-color {
    background-color: #FFFFFF;
}

.services-title {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.services-description {
    margin: 0;
}

.services-title-icon::before {
    content: "";
    display: block;
    width: 75px;
    height: 72px;
    background-repeat: no-repeat;
    margin: 0 auto 30px;
}

.services-icon-house::before {
    background-image: url("../images/house.svg");
}

.services-icon-food::before {
    background-image: url("../images/food.svg");
}

.services-icon-souvenirs::before {
    background-image: url("../images/souvenirs.svg");
    width: 64px;
    height: 76px;
}

.search-promo {
    padding: 96px 304px;
    text-align: center;
}

.search-promo-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.search-promo-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 54px;
}

.button-promo {
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    padding: 8px 50px;
    border-radius: 4px;
}

.button-promo:hover,
.button-promo:focus-visible {
    background-color: #615048;
}

.button-promo:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-promo:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-wrap {
    padding-top: 96px;
    padding-bottom: 104px;
    padding-left: 258px;
    padding-right: 258px;
}

.subscribe {
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: #82B3D3;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 54px;
}

.newsletter-form {
    display: flex;
}

.field-group-subscribe {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.newsletter-email {
    flex-grow: 1;
    margin: 0;
}

.newsletter-email .field {
    width: 87px;
}

.field {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 345px;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 400;
    color: #000000;
    background: #f2f2f2;
    border: 0;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.newsletter-button {
    width: 232px;
    height: 52px;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    padding: 8px 50px;
    overflow-wrap: break-word;
}


.newsletter-button:hover,
.newsletter-button:focus-visible {
    background-color: #68A2CA;
}

.newsletter-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 70px;
    padding-left: 70px;
}

.footer-social-icon {
    display: block;
}

.footer-social-list {
    width: 142px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-social-item {
    width: 47px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-social-icon {
    fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus-visible .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
    width: 331px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 236.5px;
    margin-right: 235.5px;
}

.footer-phone:hover,
.footer-phone:focus-visible {
    color: #756157;
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.copyright {
    width: 115px;
    margin-left: auto;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

.footer-copyright {
    fill: #000000;
}

.copyright:hover .footer-copyright,
.copyright:focus-visible .footer-copyright {
    fill: #756157;
}

.copyright:active .footer-copyright {
    fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 64px 70px;
    background: #FFFFFF;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.modal-search {
    width: 577px;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 64px 52px 0 0;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
    border-radius: 50%;
    border: 0;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal-close-button:hover {
    background-color: #E5E5E5;
}

.modal-close-button:focus-visible {
    background-color: #E5E5E5;
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    background-color: #E5E5E5;
    opacity: 0.3;
}

.modal-close-button:disabled {
    opacity: 0.1;
}

.modal-title {
    margin: 0;
    margin-bottom: 64px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.modal-form {
    display: grid;
    grid-template-columns: 247px 247px;
    gap: 0 82px;
}

.field-group {
    display: grid;
    grid-template-columns: 137px 440px;
    grid-column: 1 / -1;
    margin-bottom: 23px;
    align-items: center;
}

.modal-form-label {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    color: #000000;
}

.modal-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 440px;
}

.modal-form-button {
    position: absolute;
    right: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.modal-form-field {
    flex: 1;
    margin: 0;
    padding: 12px 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #F2F2F2;
    border: 2px solid transparent;
    border-radius: 4px;
}

.modal-form-field::placeholder {
    opacity: 0.6;
}

.modal-form-field:hover {
    background-color: #E5E5E5;
}

.modal-form-field:focus-visible {
    outline: 3px solid #83B3D3;
    background-color: #E5E5E5;
}

.modal-form-field:disabled {
    opacity: 0.1;
}

.modal-message {
    grid-column: 2 / -1;
    padding: 5px 20px;
    font-size: 16px;
    word-wrap: break-word;
}

.modal-message-error {
    color: #FF5757;
}

.modal-form-quantity {
    display: grid;
    grid-template-columns: 130px 110px;
    column-gap: 7px;
    align-items: center;
    margin-bottom: 48px;
}

.modal-form-field-wrapper {
    display: grid;
    grid-template-columns: 40px 31px 40px;
}

.modal-form-submit {
    grid-column: 1 / -1;
    font-size: 20px;
    line-height: 24px;
    background-color: #83B3D3;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
}

.modal-form-submit:hover,
.modal-form-submit:focus-visible {
    background-color: #68A2CA;
}

.modal-form-submit:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}

.modal-form-submit:disabled {
    opacity: 0.1;
}

.modal-form-field-button {
    padding: 14px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #F2F2F2;
    outline: none;
    cursor: pointer;
}

.modal-form-field-minus {
    border-radius: 4px 0 0 4px;
}

.modal-form-field-plus {
    border-radius: 0 4px 4px 0;
}

.modal-form-field-count {
    padding: 14px 10px;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    font-family: inherit;
    text-align: center;
    appearance: textfield;
    outline: none;
}

.modal-form-quantity-icon {
    display: block;
    fill: rgba(117, 97, 87, 0.3);
}

.modal-form-quantity-icon:hover {
    fill: #000000;
}

.modal-form-field-button:focus-visible .modal-form-quantity-icon {
    fill: #000000;
    border-radius: 4px;
    outline: 3px solid #82B3D3;
}

.modal-form-quantity-icon:active {
    fill: rgba(0, 0, 0, 0.2);
}

.modal-form-quantity-icon:disabled {
    opacity: 0.1;
}

.modal-form-field-count::-webkit-outer-spin-button,
.modal-form-field-count::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
}

.modal-container-close {
    display: none;
}

.tooltip {
    position: absolute;
    margin-left: 10px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
}

.tooltip-icon {
    width: 100%;
    height: 100%;
    color: #83B3D3;
    display: block;
    line-height: 1;
}

.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 18px;
    border-radius: 10px;
    font-weight: normal;
    text-transform: none;
    display: block;
    width: 256px;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    margin-top: 16px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.tooltip-text::before {
    position: absolute;
    content: '';
    background-image: url("../images/tooltip-arrow.svg");
    width: 19px;
    height: 9px;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.form-label-icon {
    position: relative;
    padding-right: 26px;
}

.inner-header {
    background-image: url("../images/background-catalog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.inner-header-wrap {
    padding-top: 35px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.main-inner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

.breadcrumbs-link-photo {
    width: 13px;
    height: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
    display: inline-block;
}

.breadcrumbs-item {
    margin-right: 28px;
    position: relative;
}

.breadcrumbs-item::after {
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    right: -18px;
    width: 7px;
    height: 10px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
    content: none;
}

.filters {
    width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.infrastructure {
    width: 150px;
    margin-right: 70px;
}

.housing-type {
    width: 150px;
    margin-right: 140px;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
}

.control-label {
    line-height: 23px;
}

.control-item[type="checkbox"]:checked+.control-mark::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../images/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.control-item[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control-item[type="checkbox"]+.control-mark {
    border-radius: 4px;
}

.control-item[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-item:disabled+.control-mark,
.control-item:disabled~.control-label {
    opacity: 0.1;
}

.control-item:focus-visible+.control-mark {
    outline: 3px solid #83B3D3;
}

.control:hover .control-mark,
.control:hover .control-label {
    opacity: 0.6;
}

.control:active .control-mark,
.control:active .control-label {
    opacity: 0.3;
}

.price-filter {
    border: none;
    margin: 0;
    padding: 0;
    max-width: 288px;
    margin-right: 70px;
}

.price-filter-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
    max-width: 288px;
}

.price-filter-input-block {
    position: relative;
    margin-right: 2px;
}

.price-filter-input-block:last-child {
    margin-right: 0;
}

.price-input {
    width: 143px;
    padding: 12px 42px 12px 20px;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    appearance: textfield;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.price-input-min {
    border-radius: 4px 0 0 4px;
}

.price-input-max {
    border-radius: 0 4px 4px 0;
}

.price-input:disabled {
    opacity: 0.3;
}

.price-input:hover {
    background-color: #E6E6E6;
}

.price-input:focus-visible {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.price-filter-label {
    position: absolute;
    right: 20px;
    top: 12px;
    padding: 0;
    color: #000000;
    opacity: 0.3;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 23px;
}

.price-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.price-filter-input-block {
    color: #FFFFFF;
}

.price-filter-label {
    line-height: 24px;
    vertical-align: middle;
    color: #000000;
}

.price-filter-range {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 8px;
}

.price-filter-strip {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    top: -8px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.toggle-min {
    left: 0;
}

.toggle-max {
    right: 0;
}

.range-toggle:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    outline: 3px solid #83B3D3;
}

.range-toggle:active {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
    outline: 2px solid #83B3D3;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.catalog-filter-submit {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding: 8px 50px;
    margin-bottom: 32px;
    border-radius: 4px;
}

.catalog-filter-submit:hover,
.catalog-filter-submit:focus-visible {
    background-color: #68A2CA;
}

.catalog-filter-submit:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-submit:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #FFFFFF;
    background: none;
    padding: 8px 57.5px;
    border-radius: 4px;
}

.catalog-filter-reset:hover {
    color: #FFFFFF;
}

.catalog-filter-reset:focus-visible {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
}

.catalog-filter-reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset:disabled {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-products {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.catalog-products-wrap {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: 70px;
    padding-left: 70px;
}

.sorting-container {
    display: flex;
    margin-bottom: 40px;
    width: 1060px;
}

.catalog-products-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin: 0;
    margin-right: 200px;
}

.select {
    position: relative;
    display: flex;
    align-items: center;
    width: 292px;
    margin-right: auto;
}

.select-control {
    font-family: inherit;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 49px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    border: 2px solid #E5E5E5;
    color: #333333;
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    appearance: none;
}

.select-control:hover,
.select-control:focus-visible {
    box-shadow: 0 0 0 2px #68A2CA;
    outline: none;
}

.select-control:disabled {
    color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.buttons-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    gap: 8px;
}

.button-item {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid #E5E5E5;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
    border: 2px solid #000000;
}

.card-grid-toggle:focus-visible {
    border: 2px solid #68A2CA;
}

.card-grid-toggle-current {
    border: 2px solid #000000;
}

.products-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 80px;
    align-items: flex-start;
}

.products-list::after {
    position: absolute;
    left: 0;
    bottom: -40px;
    content: "";
    display: block;
    width: 1060px;
    border-bottom: 1px solid #E5E5E5;
}

.product-card {
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
}

.product-card-wrap {
    padding: 20px;
    box-sizing: border-box;
}

.product-card-image {
    display: block;
    margin: 0;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 16px;
}

.product-card-important {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product-card-name {
    text-align: left;
    margin: 0;
    overflow-wrap: break-word;
}

.product-card-price {
    text-align: right;
    margin: 0;
    overflow-wrap: break-word;
}

.product-card-link {
    text-decoration: none;
}

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

}

.product-card-button {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #756157;
    padding: 8px 26px;
    border-radius: 4px;
}

.product-card-button:hover,
.product-card-button:focus-visible {
    background-color: #615048;
}

.product-card-button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #82B3D3;
    padding: 8px 20px;
    border-radius: 4px;
}

.product-card-button-like:hover,
.product-card-button-like:focus-visible {
    background-color: #68A2CA;
}

.product-card-button-like:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like-added {
    background-color: #7DB54F;
    padding: 8px 18px;
}

.product-card-button-like-added:hover,
.pproduct-card-button-like-added:focus-visible {
    background-color: #6C9E42;
}

.product-card-button-like-added:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like-added:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-statistics {
    display: flex;
    justify-content: space-between;
}

.product-card-stars {
    background-image: url("../images/star.svg");
    background-repeat: repeat-x;
    background-position-y: center;
    background-size: 24px 17px;
    margin: 0;
}

.product-card-stars-4 {
    width: 96px;
}

.product-card-stars-3 {
    width: 72px;
}

.product-card-stars-2 {
    width: 48px;
}

.product-card-rating {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
    padding: 8px 22px 9px 23px;
    border-radius: 4px;
    margin: 0;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-right: 25px;
    padding-left: 23px;
    border-radius: 4px;
}

.pagination-link:not(.pagination-current):not(.pagination-text):hover,
.pagination-link:not(.pagination-link-current):not(.pagination-text):focus-visible {
    background-color: #82B3D3;
}

.pagination-link:not(.pagination-current):not(.pagination-text):active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link-last {
    padding-top: 11px;
    padding-bottom: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
}

.subscribe-inner-wrap {
    padding-top: 96px;
    padding-bottom: 104px;
    padding-right: 258px;
    padding-left: 258px;
}

.subscribe-title-catalog {
    text-align: center;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}

.subscribe-description-catalog {
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 54px;
}