@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}



html {
    height: 100%;
}

body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: #333333;
    background-color: #FFFFFF;
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
    padding: 0 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;

}

.navigation-wrapper {
    display: flex;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    position: relative;
}

.navigation-user {
    align-items: center;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus-visible {
    color: rgba(0, 0, 0, 0.5);
}

.navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.navigation-icon {
    display: block;
    fill: #000000;
}

.navigation-link:hover .navigation-icon,
.navigation-link:focus-visible .navigation-icon {
    fill: rgba(0, 0, 0, 0.5);
}

.navigation-link:active .navigation-icon {
    fill: rgba(0, 0, 0, 0.3);
}

.navigation-link-current::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 16px;
    right: 16px;
    height: 2px;
    background-color: #756257;
}

.navigation-user .navigation-link {
    min-height: 20px;
    min-width: 20px;
    padding: 22px 12px;
}

.navigation-favorite {
    position: relative;
}

.navigation-logo {
    position: relative;
    z-index: 1;
    width: 140px;
    margin-right: 28px;
}

.page-header-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.notification-badge {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-header {
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;
    padding: 8px 34px;
    border-radius: 4px;
}

.button-header:hover ,
.button-header:focus-visible {
    background-color: #615048;
}

.button-header:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.navigation-item-button {
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
} 


.main-container {
    flex-grow: 1;
}

.page-container {
    margin: 0 auto;
}

.hero {
    padding: 51px 0 82px 0;
    color: #FFFFFF;
    background-color: rgba(131, 179, 211, 0.7);
    background-image:url("../images/background-vector.svg"), url("../images/index-background.jpg");
    background-size: 100% auto, cover;
    background-repeat: no-repeat;
    background-position: left bottom, left top;
}

.hero-img {
    display: block;
    margin: 0 auto;
}

.advantages-introduction {
    padding-top: 69px;
    padding-bottom: 69px;
    margin-bottom: 21px;
}

.advantages-subhead {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.advantages-lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-bottom: 25px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item {
    background-color: #83B3D31F;
    text-align: center; 
    width: 33.3333%;
    min-height: 385px;
}

.advantages-item-wide {
    color: #FFFFFF;
    background-color: #82B3D3;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 385px;
}

.advantages-wrap {
    padding: 102px 85px;
}

.advantages-img {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
}

.advantages-title {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 62px;
}

.advantages-title::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 85px;
    width: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 86px;
}

.advantages-title-wide::after {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-description {
    margin: 0;
}

.advantages-item-color {
    background-color: #83B3D333;
}

.services-introduction {
    padding-top: 64px;
    padding-bottom: 64px;
}

.services-lead {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.services-subhead {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services-wrap {
    padding: 81px 85px;
}

.services-item {
   background-color: #83B3D31F ; 
   text-align: center;
   width: 33.3333%;
   min-height: 385px;
}

.services-item-color {
    background-color: #FFFFFF;
}

.services-title {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.services-description {
    margin: 0;
}

.services-title-icon::before {
    content: "";
    display: block;
    width: 75px;
    height: 72px; 
    background-repeat: no-repeat;
    margin: 0 auto 30px;
}

.services-icon-house::before {
    background-image: url("../images/house.svg");
}

.services-icon-food::before {
    background-image: url("../images/food.svg");
}

.services-icon-souvenirs::before {
    background-image: url("../images/souvenirs.svg");
    width: 64px;
    height: 76px;
}

.search-promo {
    padding: 96px 304px;
    text-align: center;
}

.search-promo-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.search-promo-description {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 54px;
}

.button-promo {
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    padding: 8px 50px;
    border-radius: 4px ;
}

.button-promo:hover,
.button-promo:focus-visible {
    background-color: #615048;
}

.button-promo:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.button-promo:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-wrap {
    padding-top: 96px;
    padding-bottom: 104px;
    padding-left: 258px;
    padding-right: 258px;
}

.subscribe {
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 54px;
}

.subscription-form {
    display: flex;
    justify-content: center;
}

.subscription-field {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 400;
    color: #000000;
    border: 0;
    border-radius: 4px;
}

.button-subscription {
   font-size: 20px;
   height: 36px;
   background-color: #82B3D3;
   border-radius: 4px;
   padding: 8px 50px;
}

.button-subscription:hover,
.button-subscription:focus-visible {
    background-color: #68A2CA;
}

.button-subscription:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.button-subscription:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto; 
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 70px;
    padding-left: 70px;
}

.footer-social-icon {
    display: block;
}

.footer-social-list { 
    width: 142px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-social-item {
    width: 47px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-social-icon {
    fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus-visible .footer-social-icon {
    fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
    fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
    width: 331px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 236.5px;
    margin-right: 235.5px;
}

.footer-phone:hover,
.footer-phone:focus-visible {
    color: #756157;
}

.footer-phone:active {
    color: rgba(117, 97, 87, 0.3);
}

.copyright {
    width: 115px;
    margin-left: auto;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

.footer-copyright {
    fill: #000000;
}

.copyright:hover .footer-copyright,
.copyright:focus-visible .footer-copyright {
    fill: #756157;
}

.copyright:active .footer-copyright {
    fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
    background-image: url("../images/background-catalog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#FFFFFF;
}

.inner-header-wrap {
    padding-top: 35px;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.main-inner-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

.breadcrumbs-link-photo {
    width: 13px;
    height: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color:#FFFFFF;
    margin-bottom: 40px;
}

.breadcrumbs-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
    display: inline-block;
}

.breadcrumbs-item {
   margin-right: 28px;
   position: relative; 
}

.breadcrumbs-item::after {
    position: absolute;
    content: "";
    display: block;
    top: 5px;
    right: -18px;
    width: 7px;
    height: 10px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.filters {
    width: 1060px;
    margin: 0 auto;
    padding: 0; 
}
  
.catalog-filter {
    display: flex;
}
  
.infrastructure {
    width: 150px;
    margin-right: 70px;
}
  
.housing-type {
    width: 150px;
    margin-right: 140px;
}
  
.price-filter {
    width: 288px;
    margin-right: 70px;
}

.price-filter-inputs {
    display: flex;
    justify-content: space-between;
}
  
.catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px; 
}

.catalog-filter-list {
    padding: 0;
    list-style: none;
}

.catalog-filter-list {
    line-height: 23px;
}

.price-filter-title {
    font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}

.price-filter-input-block {
    color: #FFFFFF;
}

.price-filter-label {
    line-height: 24px;
    vertical-align: middle;
    color: #000000;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

.catalog-filter-submit {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #82B3D3;
    padding: 8px 50px;
    margin-bottom: 32px;
    border-radius: 4px;
}

.catalog-filter-submit:hover,
.catalog-filter-submit:focus-visible {
    background-color: #68A2CA;
}

.catalog-filter-submit:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-submit:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #FFFFFF;
    background: none;
    padding: 8px 57.5px;
    border-radius: 4px;
}

.catalog-filter-reset:hover {
    color: #FFFFFF;
}

.catalog-filter-reset:focus-visible {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
}

.catalog-filter-reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-reset:disabled {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-products {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.catalog-products-wrap {
    padding-top: 50px;
    padding-bottom: 60px;
    padding-right: 70px;
    padding-left: 70px;
}

.sorting-container {
    display: flex;
    margin-bottom: 40px;
    width: 1060px;
    min-height: 49px;
}

.catalog-products-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin: 0;
    margin-right: 200px;
}

.select-control {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
}

.select-control:hover,
.select-control:focus-visible {
    border: 2px solid #68A2CA;
    outline: none;
}

.select-control:disabled {
    color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.buttons-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-item {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.card-grid-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid #E5E5E5;
    outline: none;
    cursor: pointer;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
    border: 2px solid #000000;
}

.card-grid-toggle:focus-visible {
    border: 2px solid #68A2CA;
}

.card-grid-toggle-current {
    border: 2px solid #000000;
}

.button-item:nth-child(3n) {
    margin-right: 0;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 80px;
}

.product-card {
    border: 1px solid #E6E6E6; 
    box-sizing: border-box;
    border-radius: 4px;
}

.product-card-wrap {
    padding: 20px;
}

.product-card-image {
    margin-bottom: 16px;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
    margin: 0;
    margin-bottom: 16px;
}

.product-card-important {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.product-card-name {
    text-align: left;
}

.product-card-price {
    text-align: right;
}

.product-card-link {
    text-decoration: none;
} 

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

}

.product-card-button {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #756157;
    padding: 8px 26px;
    border-radius: 4px;
}

.product-card-button:hover ,
.product-card-button:focus-visible {
    background-color: #615048;
}

.product-card-button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #82B3D3;
    padding: 8px 20px;
    border-radius: 4px;
}

.product-card-button-like:hover,
.product-card-button-like:focus-visible {
    background-color: #68A2CA;
}

.product-card-button-like:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like-added {
    background-color: #7DB54F;
    padding: 8px 18px;
}

.product-card-button-like-added:hover,
.pproduct-card-button-like-added:focus-visible {
    background-color: #6C9E42;
}

.product-card-button-like-added:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-button-like-added:disabled {
    background-color: #E5E5E5;
    color: rgba(255, 255, 255, 0.3);
}

.product-card-statistics {
    display: flex;
    justify-content: space-between;
}

.product-card-stars {
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  background-position-y: center;
  background-size: 24px 17px;
}

.product-card-stars-4 {
    width: 96px;
}

.product-card-stars-3 {
    width: 72px;
}

.product-card-stars-2 {
    width: 48px;
}

.product-card-rating {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 22px;
    padding-left: 23px;
    border-radius: 4px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none; 
   color: #FFFFFF;
   background-color: #82B3D3;
   display: block;
   box-sizing: border-box;
   width: 60px;
   height: 60px;
   padding-top: 11px;
   padding-bottom: 13px;
   padding-right: 25px;
   padding-left: 23px;
}

.pagination-link:not(.pagination-current):not(.pagination-text):hover,
.pagination-link:not(.pagination-link-current):not(.pagination-text):focus-visible {
    background-color: #82B3D3;
}

.pagination-link:not(.pagination-current):not(.pagination-text):active
{
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-link-last {
    padding-top: 11px;
    padding-bottom: 13px;
    padding-right: 25px;
    padding-left: 23px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
}

.subscribe-inner-wrap {
    padding-top: 96px;
    padding-bottom: 104px;
    padding-right: 258px;
    padding-left: 258px;
}

.subscribe-title-catalog {
    text-align: center;
    color:#000000;
    margin: 0;
    margin-bottom: 20px;
}

.subscribe-description-catalog {
    text-align: center;
    color: #333333;
    margin: 0;
    margin-bottom: 54px;
}
